@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(243, 250, 250);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .right {
    @apply bg-primary/15 text-primary min-w-min p-1 text-center rounded-lg font-semibold text-xs h-6
  }
  .new {
    @apply text-white text-[13px] bg-primary rounded-2xl w-10 h-[18px] text-center
  }
  .featured {
    @apply text-white text-[13px] bg-very-dark-g-cyan rounded-2xl w-14 h-[18px] text-center
  }
}
